<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment="header">
            <!-- accediendo a plantillas dentro de un archivo
            de propiedades. plantilla.titulo, acceso usando la llave
            -->
            <h1 th:text="#{plantilla.titulo}">Titulo</h1>
        </header>
        
        <footer th:fragment="footer">
            <p th:text="#{plantilla.pie-pagina}"></p>
        </footer>
    </body>
</html>
