<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <a th:href="@{/agregar}">Agregar Persona</a>
        </br>
        <!-- Con el if se comprueba que la lista este o no vacia -->
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>




                <!-- la variable que acompaña al each, es la variable
                que almacena momentaneamente.
                la variable que va con el ${}, es la variable compartida desde
                el controlador -->
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}">Mostrar Nombre </td>
                    <td th:text="${persona.apellido}">Mostrar Apellido </td>
                    <td th:text="${persona.telefono}">Mostrar Telefono </td>
                    <td th:text="${persona.email}">Mostrar Email </td>
                    <td><a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"/>
                    <td><a th:href="@{/eliminar/} + ${persona.idPersona}" th:text="Eliminar"/>
                        
                    </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            La lista de personas esta vacia
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
    
</html>
